<mat-card class="cardWithShadow theme-card">
  <!-- Header del card -->
  <mat-card-header>
    <mat-card-title class="m-b-0">Perfil de usuario</mat-card-title>
  </mat-card-header>

  <!-- Contenido del card -->
  <mat-card-content class="b-t-1">

    <div class="position-relative row w-100 h-100 bg-gredient justify-content-center">
      <form #clientesForm="ngForm" (ngSubmit)="guardarDatos()">

        <!-- Datos Personales -->
        <mat-label class="mat-subtitle-2 f-s-14 f-w-600 m-b-12 d-block">Datos Personales</mat-label>
        <br>
               
        <div class="row mb-4">
          <div class="col-md-4">
            <mat-label class="mat-subtitle-2 f-s-14 f-w-600 m-b-12 d-block">Nombre</mat-label>
            <mat-form-field appearance="outline" class="w-100" color="primary">
              <input required matInput [(ngModel)]="usuario.nombre" name="nombre"/>
            </mat-form-field>
          </div>

          <div class="col-md-4">
            <mat-label class="mat-subtitle-2 f-s-14 f-w-600 m-b-12 d-block">Tipo de Documento</mat-label>
            <mat-form-field appearance="fill">
              <mat-select [(ngModel)]="tipoDocumentoSeleccionado" name="tipoDocumento">
                <mat-option value="Cédula de Ciudadanía">Cédula de Ciudadanía</mat-option>
                <mat-option value="Tarjeta de Identidad">Tarjeta de Identidad</mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div class="col-md-4">
            <mat-label class="mat-subtitle-2 f-s-14 f-w-600 m-b-12 d-block">Documento</mat-label>
            <mat-form-field appearance="outline" class="w-100" color="primary">
              <input required matInput [(ngModel)]="usuario.nro_documento" name="documento"/>
            </mat-form-field>
          </div>
        </div>


        <!-- Datos de la Empresa -->
        <mat-label class="mat-subtitle-2 f-s-14 f-w-600 m-b-12 d-block">Datos de la Empresa</mat-label>
        <br>
        <div class="row mb-3">
          <div class="col-md-4">
            <mat-label class="mat-subtitle-2 f-s-14 f-w-600 m-b-12 d-block">Empresa</mat-label>
            <mat-form-field appearance="outline" class="w-100" color="primary">
              <input required matInput [(ngModel)]="empresa.nombre" name="empresa"/>
            </mat-form-field>
          </div>
          <div class="col-md-4">
            <mat-label class="mat-subtitle-2 f-s-14 f-w-600 m-b-12 d-block">NIT</mat-label>
            <mat-form-field appearance="outline" class="w-100" color="primary">
              <input required matInput [(ngModel)]="empresa.nit" name="nit"/>
            </mat-form-field>
          </div>
          <div class="col-md-4">
            <mat-label class="mat-subtitle-2 f-s-14 f-w-600 m-b-12 d-block">Razón Social</mat-label>
            <mat-form-field appearance="outline" class="w-100" color="primary">
              <input required matInput [(ngModel)]="empresa.razonSocial" name="razonSocial"/>
            </mat-form-field>
          </div>
        </div>

        <!-- Dirección, Correo y Teléfono -->
        <div class="row mb-3">
          <div class="col-md-4">
            <mat-label class="mat-subtitle-2 f-s-14 f-w-600 m-b-12 d-block">Dirección</mat-label>
            <mat-form-field appearance="outline" class="w-100" color="primary">
              <input required matInput [(ngModel)]="empresa.direccion" name="direccion"/>
            </mat-form-field>
          </div>
          <div class="col-md-4">
            <mat-label class="mat-subtitle-2 f-s-14 f-w-600 m-b-12 d-block">Correo</mat-label>
            <mat-form-field appearance="outline" class="w-100" color="primary">
              <input required matInput [(ngModel)]="empresa.correo" name="correo"/>
            </mat-form-field>
          </div>
          <div class="col-md-4">
            <mat-label class="mat-subtitle-2 f-s-14 f-w-600 m-b-12 d-block">Teléfono</mat-label>
            <mat-form-field appearance="outline" class="w-100" color="primary">
              <input required matInput [(ngModel)]="empresa.telefono" name="telefono"/>
            </mat-form-field>
          </div>
        </div>

        <!-- Botones -->
        <div class="mt-4 row justify-content-end">
          <div class="col-auto">
          </div>
          <div class="col-auto">
            <button mat-flat-button color="primary" class="w-100" (click)="guardarDatos()">Guardar</button>
          </div>
        </div>

      </form>
    </div>
  </mat-card-content>
</mat-card>
