<div class="col-lg-20">
  <mat-card class="cardWithShadow">
    <div style="display: flex">
      <mat-form-field appearance="outline" class="w-100" color="primary" style="margin-right: 8px">
        <input matInput placeholder="Número de IMEI o Consecutivo" name="filtro" #filtroField="ngModel" [(ngModel)]="filtro" />
      </mat-form-field>
      <button mat-flat-button color="primary" style="width: 100px; margin-top: 10px" type="button"
        (click)="filtrarDispositivos()">
        Filtrar
      </button>
    </div>
    <mat-card-content class="p-24">
      <mat-card-title>Lista De Compras</mat-card-title>
      <div class="table-responsive m-t-16">
        <table mat-table [dataSource]="dataSource" class="w-100">
          <ng-container *ngFor="let column of displayedColumns" [matColumnDef]="column">
            <th mat-header-cell *matHeaderCellDef class="f-w-600 mat-subtitle-1 f-s-14">
              {{ column }}
            </th>
            <td mat-cell *matCellDef="let element" class="mat-body-1 left-align"> <!-- Añadir clase left-align -->
              <ng-container *ngIf="column === 'IMEI'">
                {{ element.imei }}
              </ng-container>
              <ng-container *ngIf="column === 'Consecutivo'">
                {{ element.consecutivoCompra }}
              </ng-container>
              <ng-container *ngIf="column === 'Marca'">
                {{ element.marca }}
              </ng-container>
              <ng-container *ngIf="column === 'Modelo'">
                {{ element.modelo }}
              </ng-container>
              <ng-container *ngIf="column === 'Observación'">
                {{ element.observacion }}
              </ng-container>
              <ng-container *ngIf="column === 'Fecha Compra'">
                {{ element.fechaCompra | date: 'dd/MM/yyyy HH:mm' }}
              </ng-container>
              <ng-container *ngIf="column === 'Inversión'">
                $ {{ element.valorInversion }}
              </ng-container>
              <ng-container *ngIf="column === 'Compra'">
                $ {{ element.valorCompra }}
              </ng-container>
              <ng-container *ngIf="column === 'Total'">
                $ {{ element.valorTotal }}
              </ng-container>
              <div style="text-align: center;">
              <ng-container *ngIf="column === 'Editar'">
                <button mat-icon-button color="primary" (click)="editar(element.codCompra)">
                  <mat-icon>editar</mat-icon>
                </button>
              </ng-container>
              <ng-container *ngIf="column === 'Documento'">
                <button mat-icon-button color="primary" (click)="printDocumento(element.imei)">
                  <mat-icon style="color: #55bacd;">description</mat-icon>
                </button>
              </ng-container>
              <ng-container *ngIf="column === 'Eliminar'">
                <button mat-icon-button color="primary"(click)="printEliminarCompra(element.codCompra, element.imei)">
                  <mat-icon style="color: red;">delete</mat-icon>
                </button>
              </ng-container>
              </div>
            </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table> 
        <div class="totalizador">
          <p>Total: $ {{ total }}</p>
          <p>Total de Inversiones: $ {{ totalInversiones }}</p>
          <p>Total de Compras: $ {{ totalCompras }}</p>
        </div>       
        <mat-paginator [length]="allClients.length" [pageSize]="5" [pageSizeOptions]="[5, 10, 25, 100]"
          showFirstLastButtons (page)="paginaCambiada($event)" #paginator></mat-paginator>
      </div>
    </mat-card-content>
  </mat-card>
</div>
<div *ngIf="errorMessage" class="error-message">
  {{ errorMessage }}
</div>
<div *ngIf="modalFormato" class="loading-overlayf" id="myModal">
  <div class="modal">
    <mat-card class="cardWithShadow boxed-auth">
      <button mat-icon-button class="close-button" (click)="closeModal()">
        <mat-icon color="warn">close</mat-icon>
      </button>
      <mat-card-content class="p-32">
        <form class="m-t-30">
          <img [src]="photoUrl" class="modal-image">
        </form>
      </mat-card-content>
    </mat-card>
  </div>
</div>
<ngx-ui-loader></ngx-ui-loader>