<!--TODO: Corregir mat-label para que se muestren encima de su respectivo input-->
<mat-card class="cardWithShadow theme-card">
  <mat-card-header>
    <mat-card-title class="m-b-0">Registrar Compra</mat-card-title>
  </mat-card-header>
  <mat-card-content class="b-t-1">
    <div class="position-relative row w-100 h-100 bg-gredient justify-content-center">
    <form class="m-t-30" #compraForm="ngForm" (ngSubmit)="addCompra(compraForm)">

      <!--* Datos del Cliente-->
      <mat-card-content>
        <div style="margin-bottom: 20px; margin-top: -30px;">
          <mat-card-title class="m-b-0">Datos del Cliente</mat-card-title>
        </div>
        <div class="position-relative row w-100 h-100 bg-gredient justify-content-center">
          <!-- Columna izquierda -->
          <div class="col-md-8" style="display: flex; flex-wrap: wrap;">
            <mat-label class="mat-subtitle-2 f-s-14 f-w-600 m-b-12 d-block">Buscar Cliente</mat-label>
            <mat-form-field appearance="outline" class="w-100" color="primary" style="margin-right: 8px">
              <input matInput placeholder="Identificación" [(ngModel)]="documentoField"
                [ngModelOptions]="{ standalone: true }">
            </mat-form-field>
          </div>
          <!-- Columna derecha -->
          <div class="col-md-4" style="display: flex; flex-wrap: wrap; align-items: flex-end;">
            <!-- Botón Buscar -->
            <div class="position-relative row w-100 h-100 bg-gredient justify-content-center">
              <div style="display: flex; flex-wrap: wrap; align-items: center;">
                <!-- Botón Buscar -->
                <button mat-raised-button color="primary" type="button" (click)="getCliente(documentoField)"
                  style="margin-right: 8px;">
                  Buscar
                </button>
                <!-- Botón Registrar Cliente -->
                <a mat-button color="accent" routerLink="/clientes/agregar-cliente" target="_blank"
                  style="margin-right: 8px;">
                  Registrar Cliente
                </a>
              </div>
            </div>
          </div>
        </div>

        <div *ngIf="clientFoundTag" class="search-client position-relative row justify-content-center">
          <div class="col-lg-6">
            <mat-card class="client-card">
              <mat-card-content>
                <div class="client-info">
                  <h2>Información del Cliente</h2>
                  <hr>
                  <p><strong>Identificación:</strong> {{ clienteEncontrado.documento }}</p>
                  <p><strong>Nombre:</strong> {{ clienteEncontrado.nombre }}</p>
                </div>
              </mat-card-content>
            </mat-card>
          </div>
          <div class="col-lg-6">
            <mat-card class="client-card">
              <mat-card-content>
                <div class="client-info">
                  <h2>Dirección y Contacto</h2>
                  <hr>
                  <p><strong>Dirección:</strong> {{ clienteEncontrado.direccion }}</p>
                  <p><strong>Teléfono:</strong> {{ clienteEncontrado.telefono }}</p>
                </div>
              </mat-card-content>
            </mat-card>
          </div>
        </div>
      </mat-card-content>

      <!--* Apartado Agregar Dispositivo-->
      <mat-card-content class="b-t-1">
        <div style="margin-bottom: 20px;">
          <mat-card-title class="m-b-0">Agregar Dispositivo</mat-card-title>
        </div>

        <!-- <div
      class="position-relative row w-100 h-100 bg-gredient justify-content-center"
    >
      <form
        class="b-t-1"
        #compraForm="ngForm"
        (ngSubmit)="addCompra(compraForm)"
      > -->
        <div style="display: flex; flex-wrap: wrap;">
          <div style="flex: 1; margin-right: 8px;">
            <mat-label class="mat-subtitle-2 f-s-14 f-w-600 m-b-12 d-block">IMEI</mat-label>
            <mat-form-field appearance="outline" class="w-100" color="primary">
              <input required matInput ngModel name="imei" type="string" placeholder="IMEI" />
              <mat-error>Campo obligatorio</mat-error>
            </mat-form-field>
          </div>

          <div style="flex: 1; margin-right: 8px;">
            <mat-label class="mat-subtitle-2 f-s-14 f-w-600 m-b-12 d-block">Consecutivo</mat-label>
            <mat-form-field appearance="outline" class="w-100" color="primary">
              <input required matInput ngModel name="consecutivo" type="string" placeholder="Consecutivo Compraventa" />
              <mat-error>Campo obligatorio</mat-error>
            </mat-form-field>
          </div>

          <!-- <div style="flex: 1; margin-right: 8px;">
            <mat-label class="mat-subtitle-2 f-s-14 f-w-600 m-b-12 d-block">Marca de dispositivo</mat-label>
            <mat-form-field appearance="outline" class="w-100" color="primary">
              <input required matInput ngModel name="marca_dispositivo" type="string" placeholder="Marca del dispositivo" />
              <mat-error>Campo obligatorio</mat-error>
            </mat-form-field>
          </div> -->
          <div style="flex: 1; margin-right: 8px;">
            <mat-label class="mat-subtitle-2 f-s-14 f-w-600 m-b-12 d-block">Marca de dispositivo</mat-label>
            <mat-form-field appearance="outline" class="w-100" color="primary">
              <mat-select required [(ngModel)]="selectedMarcaDispositivo" name="marca_dispositivo"
                placeholder="Seleccione una marca">
                <mat-option *ngFor="let marca of marcasDispositivos" [value]="marca.oid">
                  {{ marca.descripcion_marca_dispositivo }} <!-- O el campo que contenga el nombre de la marca -->
                </mat-option>
              </mat-select>
              <mat-error>Campo obligatorio</mat-error>
            </mat-form-field>
          </div>

          <!-- <div style="flex: 1;">
            <mat-label class="mat-subtitle-2 f-s-14 f-w-600 m-b-12 d-block">Modelo del dispositivo</mat-label>
            <mat-form-field appearance="outline" class="w-100" color="primary">
              <input required matInput ngModel type="string" name="modelo_dispositivo" placeholder="Modelo" />
              <mat-error>Campo obligatorio</mat-error>
            </mat-form-field>
          </div> -->
          <div style="flex: 1;">
            <mat-label class="mat-subtitle-2 f-s-14 f-w-600 m-b-12 d-block">Modelo del dispositivo</mat-label>
            <mat-form-field appearance="outline" class="w-100" color="primary">
              <mat-select required [(ngModel)]="selectedModeloDispositivo" name="modelo_dispositivo"
                placeholder="Seleccione un modelo">
                <mat-option *ngFor="let modelo of modelosDispositivos" [value]="modelo.oid">
                  {{ modelo.modelos }}
                </mat-option>
              </mat-select>
              <mat-error>Campo obligatorio</mat-error>
            </mat-form-field>
          </div>
        </div>


        <!--Botón Subir Formato Compaventa-->
        <div style="margin-bottom: 20px;">
          <mat-label class="mat-subtitle-2 f-s-14 f-w-600 m-b-12 d-block">
            Formato de Compraventa
          </mat-label>
          <div style="display: flex; align-items: center;">
            <label for="format-upload">
              <i-tabler *ngIf="!selectedFile" class="routeIcon" name="receipt" matListItemIcon></i-tabler>
            </label>
            <label *ngIf="selectedFile" (click)="deleteSelectedPhoto()" aria-label="Delete Photo">
              <mat-icon>delete</mat-icon>
            </label>
            <input id="format-upload" type="file" style="display: none" (change)="onFileSelected($event)" />
            <div>
              <img *ngIf="selectedFile" [src]="selectedFile" alt="Selected Photo" class="w-50" mat-card-image
                style="max-width: 200px; max-height: 200px" />
            </div>
          </div>
        </div>


        <!--Detalles-->
        <mat-label class="mat-subtitle-2 f-s-14 f-w-600 m-b-12 d-block">
          Observacion del dispositivo
        </mat-label>
        <mat-form-field appearance="outline" class="w-100" color="primary">
          <textarea matInput ngModel name="observacion" type="string" placeholder="observacion" cdkTextareaAutosize
            cdkAutosizeMinRows="5">
            </textarea>
        </mat-form-field>


        <!--Valor Compra-->
        <mat-label class="mat-subtitle-2 f-s-14 f-w-600 m-b-12 d-block"> Valor de Compra </mat-label>
        <mat-form-field appearance="outline" class="w-100" color="primary">
          <!--TODO: Eliminar capacidad de aumentar de 1 en 1 mediante pequeñas flechas-->
          <input matInput ngModel name="valor_compra" type="string" min="0" placeholder="0" appareance="textfield" />
          <span matTextPrefix>$&nbsp;</span>
        </mat-form-field>
        <button class="w-100" mat-raised-button color="primary">
          Agregar compra
        </button>
        <!-- </form> -->
        <!-- </div> -->
      </mat-card-content>

      <!--* Apartado de Tabla-->
      <!-- <mat-card-content class="b-t-1">
        <mat-table [dataSource]="dataSource">
          <div class="position-relative row w-100 h-100 bg-gredient justify-content-center">
            <ng-container matColumnDef="IMEI">
              <mat-header-cell *matHeaderCellDef> IMEI </mat-header-cell>
              <mat-cell *matCellDef="let element">
                <div>{{ element.imei }}</div>
              </mat-cell>
            </ng-container>

            <ng-container matColumnDef="Marca de Teléfono">
              <mat-header-cell *matHeaderCellDef>
                Marca de Teléfono
              </mat-header-cell>
              <mat-cell *matCellDef="let element">
                <div>{{ element.marca_telefono }}</div>
              </mat-cell>
            </ng-container>

            <ng-container matColumnDef="Procedencia">
              <mat-header-cell *matHeaderCellDef> Procedencia </mat-header-cell>
              <mat-cell *matCellDef="let element">
                <div>{{ element.procedencia }}</div>
              </mat-cell>
            </ng-container>

            <ng-container matColumnDef="Modelo del Teléfono">
              <mat-header-cell *matHeaderCellDef>
                Modelo del Teléfono
              </mat-header-cell>
              <mat-cell *matCellDef="let element">
                <div>{{ element.modelo_telefono }}</div>
              </mat-cell>
            </ng-container>

            <ng-container matColumnDef="Detalles del Teléfono">
              <mat-header-cell *matHeaderCellDef>
                Detalles del Teléfono
              </mat-header-cell>
              <mat-cell *matCellDef="let element">
                <div>{{ element.detalles }}</div>
              </mat-cell>
            </ng-container>

            <ng-container matColumnDef="Valor de Compra">
              <mat-header-cell *matHeaderCellDef>
                Valor de Compra
              </mat-header-cell>
              <mat-cell *matCellDef="let element">
                <div>{{ element.valor_compra }}</div>
              </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns" class="row-height"></mat-row>
          </div>
        </mat-table>
      </mat-card-content> -->

      <!--Otras Acciones-->
      <!-- <mat-card-content class="b-t-1">
        <mat-card-title class="m-b-0">Otras Acciones</mat-card-title>
        <div class="position-relative row w-100 h-100 bg-gredient justify-content-center">
          <div class="generate-invoice-container" style="display: flex; align-items: center;">
            <mat-label class="mat-subtitle-2 f-s-14 f-w-600 m-b-12 d-block">Generar Factura</mat-label>
            <label for="format-upload" style="margin-left: 10px;">
              <i-tabler class="routeIcon" name="file-download" matListItemIcon></i-tabler>
            </label>
            <input id="format-upload" type="file" style="display: none;" />
          </div>
        </div> 
      </mat-card-content>
      <button class="w-100" mat-raised-button color="primary" type="submit">
        Agregar Compra
      </button> -->
    </form>
  </div>
</mat-card-content>
</mat-card>
<div  *ngIf="loading" class="loading-overlay">
  <div class="text-center">
    <img src="../../../../assets/images/recarga/cargando.gif" width="100px">
  </div>
</div>