<mat-card class="cardWithShadow theme-card">
  <mat-card-header>
    <mat-card-title class="m-b-0">Registrar Compra</mat-card-title>
  </mat-card-header>
  <mat-card-content class="b-t-1">
    <mat-card-header>
      <mat-card-title class="m-b-0">Agregar Dispositivo</mat-card-title>
    </mat-card-header>
    <div
      class="position-relative row w-100 h-100 bg-gredient justify-content-center"
    >
      <form
        class="m-t-30"
        #compraForm="ngForm"
        (ngSubmit)="addCompra(compraForm)"
      >
        <!--TODO: Corregir mat-label para que se muestren encima de su respectivo input-->
        <div style="display: flex">
          <!--*IMEI-->
          <mat-label class="mat-subtitle-2 f-s-14 f-w-600 m-b-12 d-block">
            IMEI
          </mat-label>
          <mat-form-field
            appearance="outline"
            class="w-100"
            color="primary"
            style="margin-right: 8px"
          >
            <input
              required
              matInput
              ngModel
              name="imei"
              type="string"
              placeholder="IMEI"
            />
          </mat-form-field>

          <!--*Marca-->
          <mat-label class="mat-subtitle-2 f-s-14 f-w-600 m-b-12 d-block">
            Marca de Teléfono
          </mat-label>
          <mat-form-field
            appearance="outline"
            class="w-100"
            color="primary"
            style="margin-right: 8px"
          >
            <input
              required
              matInput
              ngModel
              name="marca_telefono"
              type="string"
              placeholder="Marca de Teléfono"
            />
          </mat-form-field>
        </div>
        <!--Procedencia-->
        <!--TODO: Aclarar qué es procedencia en este contexto (Posibles inputs)-->
        <div style="display: flex">
          <mat-label class="mat-subtitle-2 f-s-14 f-w-600 m-b-12 d-block">
            Procedencia
          </mat-label>
          <mat-form-field
            appearance="outline"
            class="w-100"
            color="primary"
            style="margin-right: 8px"
          >
            <input
              required
              matInput
              ngModel
              name="procedencia"
              type="string"
              placeholder="Procedencia"
            />
            <mat-error> Procedencia es Requerido </mat-error>
          </mat-form-field>

          <!--Modelo del Teléfono-->
          <mat-label class="mat-subtitle-2 f-s-14 f-w-600 m-b-12 d-block">
            Modelo del Teléfono
          </mat-label>
          <mat-form-field
            appearance="outline"
            class="w-100"
            color="primary"
            style="margin-right: 8px"
          >
            <input
              required
              matInput
              ngModel
              type="string"
              name="modelo_telefono"
              placeholder="Modelo"
            />
            <mat-error> Modelo de Telefono es Requerido </mat-error>
          </mat-form-field>
        </div>

        <!--Botón Subir Formato Compaventa-->
        <mat-label class="mat-subtitle-2 f-s-14 f-w-600 m-b-12 d-block">
          Formato de Compraventa
        </mat-label>
        <label for="format-upload">
          <i-tabler class="routeIcon" name="receipt" matListItemIcon></i-tabler>
        </label>
        <input
          id="format-upload"
          type="file"
          style="display: none"
          (change)="onFileSelected($event)"
        />
        <div>
          <img
            *ngIf="selectedFile"
            [src]="selectedFile"
            alt="Selected Photo"
            class="w-50"
            mat-card-image
            style="max-width: 200px; max-height: 200px"
          />
          <button
            *ngIf="selectedFile"
            (click)="deleteSelectedPhoto()"
            aria-label="Delete Photo"
          >
            <mat-icon>delete</mat-icon>
          </button>
        </div>

        <!--Detalles-->
        <mat-label class="mat-subtitle-2 f-s-14 f-w-600 m-b-12 d-block">
          Detalles del Teléfono
        </mat-label>
        <mat-form-field appearance="outline" class="w-100" color="primary">
          <textarea
            matInput
            ngModel
            name="detalles"
            type="string"
            placeholder="Detalles"
            cdkTextareaAutosize
            cdkAutosizeMinRows="5"
          >
          </textarea>
        </mat-form-field>

        <!--Valor Compra-->
        <mat-label class="mat-subtitle-2 f-s-14 f-w-600 m-b-12 d-block">
          Valor de Compra
        </mat-label>
        <mat-form-field appearance="outline" class="w-100" color="primary">
          <!--TODO: Eliminar capacidad de aumentar de 1 en 1 mediante pequeñas flechas-->
          <input
            matInput
            ngModel
            name="valor_compra"
            type="number"
            min="0"
            placeholder="0"
            appareance="textfield"
          />
          <span matTextPrefix>$&nbsp;</span>
        </mat-form-field>
        <button
          class="w-100"
          mat-raised-button
          color="primary"
          (click)="addFila(compraForm)"
        >
          Agregar
        </button>
      </form>
    </div>
  </mat-card-content>

  <!--Apartado de Tabla-->
  <mat-card-content class="b-t-1">
    <mat-table [dataSource]="dataSource">
      <div
        class="position-relative row w-100 h-100 bg-gredient justify-content-center"
      >
        <!-- Columna IMEI -->
        <ng-container matColumnDef="IMEI">
          <mat-header-cell *matHeaderCellDef> IMEI </mat-header-cell>
          <mat-cell *matCellDef="let element">
            <div>{{ element.imei }}</div>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="Marca de Teléfono">
          <mat-header-cell *matHeaderCellDef>
            Marca de Teléfono
          </mat-header-cell>
          <mat-cell *matCellDef="let element">
            <div>{{ element.marca_telefono }}</div>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="Procedencia">
          <mat-header-cell *matHeaderCellDef> Procedencia </mat-header-cell>
          <mat-cell *matCellDef="let element">
            <div>{{ element.procedencia }}</div>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="Modelo del Teléfono">
          <mat-header-cell *matHeaderCellDef>
            Modelo del Teléfono
          </mat-header-cell>
          <mat-cell *matCellDef="let element">
            <div>{{ element.modelo_telefono }}</div>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="Detalles del Teléfono">
          <mat-header-cell *matHeaderCellDef>
            Detalles del Teléfono
          </mat-header-cell>
          <mat-cell *matCellDef="let element">
            <div>{{ element.detalles }}</div>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="Valor de Compra">
          <mat-header-cell *matHeaderCellDef> Valor de Compra </mat-header-cell>
          <mat-cell *matCellDef="let element">
            <div>{{ element.valor_compra }}</div>
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row
          *matRowDef="let row; columns: displayedColumns"
          class="row-height"
        ></mat-row>
      </div>
    </mat-table>
  </mat-card-content>

  <!--Datos del Cliente-->
  <form class="m-t-30" #clientesForm="ngForm" (ngSubmit)="getCliente()">
    <mat-card-content class="b-t-1">
      <mat-card-header>
        <mat-card-title class="m-b-0">Datos del Cliente</mat-card-title>
      </mat-card-header>
      <div
        class="position-relative row w-100 h-100 bg-gredient justify-content-center"
      >
        <div style="display: flex">
          <mat-label class="mat-subtitle-2 f-s-14 f-w-600 m-b-12 d-block">
            Buscar Cliente
          </mat-label>
          <mat-form-field
            appearance="outline"
            class="w-100"
            color="primary"
            style="margin-right: 8px"
          >
            <input matInput placeholder="Identificación" />
          </mat-form-field>

          <!--Botón Buscar-->
          <button class="w-100" mat-raised-button color="primary" type="submit">
            Buscar
          </button>
          <a mat-button color="accent" routerLink="/registrar-cliente"
            >Registrar Cliente</a
          >
          <!--TODO: Revisar ruta y que lleve a Registrar Cliente / Modal (openDialog()) con el registro de cliente clonado-->
        </div>
        <!--Datos del Cliente-->

        <!--<div *ngIf="clienteEncontrado">
        <mat-label class="mat-subtitle-2 f-s-14 f-w-600 m-b-12 d-block">
          Datos del Cliente
        </mat-label>
        <mat-card>
          <mat-card-content>
            <p>Nombre: {{ clienteEncontrado.nombre }}</p>
            <p>Apellido: {{ clienteEncontrado.apellido }}</p>
            <p>Correo: {{ clienteEncontrado.correo }}</p>
            <p>Teléfono: {{ clienteEncontrado.telefono }}</p>
          </mat-card-content>
        </mat-card>
      </div>-->
        <!--TODO: Quitar lo Estático y hacer que tome la info desde Firebase (Buscar Cliente / Registrar Cliente)-->
      </div>
      <div
        class="position-relative row w-100 h-100 bg-gredient justify-content-center"
      >
        <mat-card>
          <mat-card-content>
            <p>Identificación: 123246</p>
            <p>Nombre: Juan</p>
            <p>Dirección: Dirección</p>
            <p>Teléfono: 123456</p>
          </mat-card-content>
        </mat-card>
      </div>
    </mat-card-content>
  </form>

  <!--Otras Acciones-->
  <mat-card-content class="b-t-1">
    <mat-card-header>
      <mat-card-title class="m-b-0">Otras Acciones</mat-card-title>
    </mat-card-header>
    <div
      class="position-relative row w-100 h-100 bg-gredient justify-content-center"
    >
      <mat-label class="mat-subtitle-2 f-s-14 f-w-600 m-b-12 d-block">
        Generar Factura
      </mat-label>
      <label for="format-upload">
        <i-tabler
          class="routeIcon"
          name="file-download"
          matListItemIcon
        ></i-tabler>
      </label>
      <input id="format-upload" type="file" style="display: none" />
    </div>
  </mat-card-content>
</mat-card>
