<mat-card class="cardWithShadow theme-card">
  <mat-card-header>
    <mat-card-title class="m-b-0">Agregar Cliente</mat-card-title>
  </mat-card-header>
  <mat-card-content class="b-t-1">
    <div class="position-relative row w-100 h-100 bg-gredient justify-content-center">
      <form class="m-t-30" #clientesForm="ngForm" (ngSubmit)="addClient(clientesForm)">
        <mat-label class="mat-subtitle-2 f-s-14 f-w-600 m-b-12 d-block">Nombre</mat-label>
        <mat-form-field appearance="outline" class="w-100" color="primary">
          <input required matInput name="nombre" ngModel/>
        </mat-form-field>
        <mat-label class="mat-subtitle-2 f-s-14 f-w-600 m-b-12 d-block">Tipo de Documento</mat-label>
        <mat-chip-listbox aria-label="Fish selection" name="tipoDocumento" ngModel>
          <mat-chip-option class="f-s-14" color="primary">Cédula de Ciudadanía</mat-chip-option>
          <mat-chip-option class="f-s-14" color="primary">Cédula de Extranjería</mat-chip-option>
          <mat-chip-option class="f-s-14" color="primary">Tarjeta de Identidad</mat-chip-option>
          <mat-chip-option class="f-s-14" color="primary">Pasaporte</mat-chip-option>
          <mat-chip-option class="f-s-14" color="primary">NIT</mat-chip-option>
        </mat-chip-listbox>
        <mat-label class="mat-subtitle-2 f-s-14 f-w-600 m-b-12 d-block">Documento de Identidad</mat-label>
        <mat-form-field appearance="outline" class="w-100" color="primary">
          <input required matInput name="documento" ngModel/>
        </mat-form-field>

        <mat-label class="mat-subtitle-2 f-s-14 f-w-600 m-b-12 d-block">Dirección</mat-label>
        <mat-form-field appearance="outline" class="w-100" color="primary">
          <input required matInput name="direccion" ngModel/>
        </mat-form-field>
        <mat-label class="mat-subtitle-2 f-s-14 f-w-600 m-b-12 d-block">Teléfono</mat-label>
        <mat-form-field appearance="outline" class="w-100" color="primary">
          <input required matInput name="telefono" ngModel/>
        </mat-form-field>
        <mat-label class="mat-subtitle-2 f-s-14 f-w-600 m-b-12 d-block">Foto Documento de Identidad</mat-label>
        <label for="file-upload">
          <i-tabler class="routeIcon" name="photo-plus" matListItemIcon></i-tabler>
        </label>
        <input id="file-upload" type="file" style="display: none;" (change)="onFileSelected($event)">
        <input id="file-upload" type="file" style="display: none;" (change)="onFileSelected($event)">
        <!-- <img *ngIf="selectedFile" [src]="selectedFile" alt="Selected Photo"> -->
        <div>
          <img *ngIf="selectedFile" [src]="selectedFile" alt="Selected Photo" class="w-50" mat-card-image style="max-width: 200px; max-height: 200px;" />
          <button *ngIf="selectedFile" (click)="deleteSelectedPhoto()" aria-label="Delete Photo">
            <mat-icon>delete</mat-icon>
          </button>
        </div>
        
        <button mat-flat-button color="primary" class="w-100">
          Agregar
        </button>
      </form>
    </div>
  </mat-card-content>
</mat-card>