<div class="blank-layout-container justify-content-center align-items-center bg-light-primary">
  <div class="position-relative row w-100 h-100 bg-gradient justify-content-center">
    <div class="col-lg-4 d-flex align-items-center">
      <mat-card class="cardWithShadow boxed-auth">
        <mat-card-content class="p-32">
          <div class="text-center">
            <div class="align-middle m-2 text-decoration-none">
              <strong style="font-size: 30px;">Bienvenido a Inventech</strong>
            </div>
          </div>

          <form class="m-t-30" (ngSubmit)="login()">
            <mat-label class="mat-subtitle-2 f-s-14 f-w-600 m-b-12 d-block">Nombre de Usuario</mat-label>
            <mat-form-field appearance="outline" class="w-100" color="primary">
              <input matInput [(ngModel)]="email" name="email" />
            </mat-form-field>

            <div class="d-flex align-items-center m-b-12">
              <mat-label class="mat-subtitle-2 f-s-14 f-w-600 m-b-12 d-block" style="margin-right: 130px; margin-top: 20px;">
                Contraseña
              </mat-label>
              <a [routerLink]="['/']" class="text-primary f-w-600 text-decoration-none ml-auto f-s-14">
                ¿Has olvidado tu contraseña?
              </a>
            </div>

            <mat-form-field appearance="outline" class="w-100" color="primary">
              <input matInput type="password" [(ngModel)]="password" name="password" />
            </mat-form-field>

            <div class="d-flex justify-content-center align-items-center vh-100">
              <button mat-flat-button color="primary" class="w-100 shadow mx-4" style="margin-top: 20px;">
                Iniciar sesión
              </button>
            </div>
          </form>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
<ngx-ui-loader></ngx-ui-loader>